/* Write your CSS here */
* {
  font-family: Roboto;
  box-sizing: border-box;
}
.btnLogin {
  background-color: white;
  padding: 8px 24px;
  border-radius: 8px;
  border-color: transparent;
  cursor: pointer;
  color: black;
}
